# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env

# Build outputs
dist/
build/

# VS Code settings
.vscode/
